[workspace]
members = [
    "crates/containerd-shim-wasm",
    "crates/wasi-demo-app",
    "crates/oci-tar-builder",
    "crates/containerd-shim-wasmedge",
    "crates/containerd-shim-wasmtime",
]

[workspace.package]
edition = "2021"
version = "0.1.0"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/containerd/runwasi"
homepage = "https://github.com/containerd/runwasi"

[workspace.dependencies]
anyhow = "1.0"
serde = "1.0"
serde_json = "1.0"
env_logger = "0.10"
log = "0.4"
tar = "0.4"
containerd-shim = "0.3.0"
ttrpc = "0.6"
chrono = "0.4"
nix = "0.26"
cap-std = "1.0"
thiserror = "1.0"
libc = "0.2.138"
oci-spec = { version = "0.6.0", features = ["runtime"] }
sha256 = "1.1"
libcontainer = { git = "https://github.com/containers/youki", rev = "b469fd12e8aaf2b202432cd1476cb509c751e513" }

[profile.release]
panic = "abort"
