[workspace]
members = [
    "crates/containerd-shim-wasm",
    "crates/containerd-shim-wasm-test-modules",
    "crates/wasi-demo-app",
    "crates/oci-tar-builder",
    "crates/containerd-shim-wasmedge",
    "crates/containerd-shim-wasmtime",
    "crates/containerd-shim-wasmer"
]
resolver = "2"

[workspace.package]
edition = "2021"
version = "0.4.0"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/containerd/runwasi"
homepage = "https://github.com/containerd/runwasi"

[workspace.dependencies]
anyhow = "1.0"
cap-std = "1.0"
chrono = { version = "0.4", default-features = false, features = ["clock"] }
containerd-shim = { git = "https://github.com/containerd/rust-extensions", rev = "6b9e5b28be2870731a18ca83c13e63a98f35e149" }
containerd-shim-wasm = { path = "crates/containerd-shim-wasm", version = "0.5.0" }
containerd-shim-wasm-test-modules = { path = "crates/containerd-shim-wasm-test-modules", version = "0.4.0"}
oci-tar-builder = { path = "crates/oci-tar-builder", version = "0.4.0" }
crossbeam = { version = "0.8.4", default-features = false }
env_logger = "0.10"
libc = "0.2.153"
libcontainer = { version = "0.3.2", default-features = false }
log = "0.4"
nix = "0.28"
oci-spec = { version = "0.6.4", features = ["runtime"] }
protobuf = "=3.2"
serde = "1.0"
serde_json = "1.0"
sha256 = "1.5.0"
tar = "0.4"
tempfile = "3.10"
thiserror = "1.0"
ttrpc = "0.8.0"
wat = "1.201"
windows-sys = "0.52"
serial_test = "2"

[profile.release]
panic = "abort"
