[workspace]
members = [
    "crates/containerd-shim-wasm",
    "crates/wasi-demo-app",
    "crates/oci-tar-builder",
    "crates/containerd-shim-wasmedge",
    "crates/containerd-shim-wasmtime",
    "test/wasi-modules-for-testing",
]

[workspace.package]
edition = "2021"
version = "0.1.0"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/containerd/runwasi"
homepage = "https://github.com/containerd/runwasi"

[workspace.dependencies]
anyhow = "1.0"
containerd-shim-wasm = { path = "crates/containerd-shim-wasm" }
serde = "1.0"
serde_json = "1.0"
env_logger = "0.10"
log = "0.4"
tar = "0.4"
containerd-shim = {git = "https://github.com/containerd/rust-extensions", rev = "7f7e3117a6ecb49e5e3b48b4f457a4914d2f2b93" }
ttrpc = "0.8.0"
chrono = { version = "0.4", default-features = false, features = ["clock"] }
nix = "0.26"
cap-std = "1.0"
thiserror = "1.0"
libc = "0.2.147"
oci-spec = { version = "0.6.1", features = ["runtime"] }
sha256 = "1.2.2"
libcontainer = "0.1"

[profile.release]
panic = "abort"
