[workspace]
members = [
    "crates/containerd-shim-wasm",
    "crates/wasi-demo-app",
    "crates/oci-tar-builder",
    "crates/containerd-shim-wasmedge",
    "crates/containerd-shim-wasmtime",
]
resolver = "2"

[workspace.package]
edition = "2021"
version = "0.1.1"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/containerd/runwasi"
homepage = "https://github.com/containerd/runwasi"

[workspace.dependencies]
anyhow = "1.0"
containerd-shim-wasm = { path = "crates/containerd-shim-wasm" }
serde = "1.0"
serde_json = "1.0"
env_logger = "0.10"
log = "0.4"
tar = "0.4"
containerd-shim = "0.5.0"
ttrpc = "0.8.0"
chrono = { version = "0.4", default-features = false, features = ["clock"] }
nix = "0.26"
cap-std = "1.0"
thiserror = "1.0"
libc = "0.2.147"
oci-spec = { version = "0.6.1", features = ["runtime"] }
sha256 = "1.4.0"
libcontainer = { version = "0.2", default-features = false }
windows-sys = { version = "0.48" }
crossbeam = { version = "0.8.2", default-features = false }

[profile.release]
panic = "abort"
