[workspace]
members = [
    "crates/containerd-shim-wasm",
    "crates/containerd-shim-wasm-test",
    "crates/wasi-demo-app",
    "crates/oci-tar-builder",
    "crates/containerd-shim-wasmedge",
    "crates/containerd-shim-wasmtime",
    "crates/containerd-shim-wasmer"
]
resolver = "2"

[workspace.package]
edition = "2021"
version = "0.1.1"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/containerd/runwasi"
homepage = "https://github.com/containerd/runwasi"

[workspace.dependencies]
anyhow = "1.0"
cap-std = "1.0"
chrono = { version = "0.4", default-features = false, features = ["clock"] }
containerd-shim = "0.5.0"
containerd-shim-wasm = { path = "crates/containerd-shim-wasm" }
containerd-shim-wasm-test = { path = "crates/containerd-shim-wasm-test" }
crossbeam = { version = "0.8.2", default-features = false }
env_logger = "0.10"
libc = "0.2.147"
libcontainer = { version = "0.2", default-features = false }
log = "0.4"
nix = "0.26"
oci-spec = { version = "0.6.1", features = ["runtime"] }
serde = "1.0"
serde_json = "1.0"
sha256 = "1.4.0"
tar = "0.4"
thiserror = "1.0"
tokio = "1"
ttrpc = "0.8.0"
wat = "*" # Use whatever version wasmtime will make us pull
windows-sys = { version = "0.48" }

[profile.release]
panic = "abort"
