[package]
name = "containerd-shim-wasmtime"
version.workspace = true
edition.workspace = true

[[bin]]
name = "containerd-shim-wasmtime-v1"
path = "src/main.rs"

[dependencies]
anyhow = { workspace = true }
containerd-shim-wasm = { workspace = true }
log = { workspace = true }

# We are not including the `async` feature here:
# 1. Because we don't even use it
# 2. Because it pulls in a lot of dependencies that we don't need
# 3. Because that dependency (wasmtime-fiber) links to native code
# 4. The wasmedge shim also uses wasmtime-fiber... which means those transative dependencies need to be the same or compilation fails
wasmtime = { version = "11.0", default-features = false, features = [
    'cache',
    'wat',
    'jitdump',
    'parallel-compilation',
    'cranelift',
    'pooling-allocator',
    'vtune',
]}
wasmtime-wasi = { version = "11.0", features = ["exit"] }
wasi-common = "11.0"

[dev-dependencies]
containerd-shim-wasm-test = { workspace = true }
serial_test = "*"
