name: Generate SBOMs

on:
  workflow_call:
    inputs:
      image-name:
        type: string
        required: true
      image-digest:
        type: string
        required: true

jobs:
  sbom:
    name: Generate SBOM, sign and attach them to OCI image
    permissions:
      packages: write
      id-token: write

    runs-on: ubuntu-latest
    steps:
      - name: Sanitize image name
        run: |
          image="${{ inputs.image-name }}"
          image="${image//_/-}"
          echo "image=$image" >> $GITHUB_ENV

      - name: Install cosign
        uses: sigstore/cosign-installer@d7543c93d881b35a8faa02e8e3605f69b7a1ce62 # v3.10.0

      - name: Install syft
        uses: anchore/sbom-action/download-syft@aa0e114b2e19480f157109b9922bda359bd98b90 # v0.20.8

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Find repository name
        shell: bash
        run: |
          set -e
          IMG_REPOSITORY_NAME=$( echo ${{ github.repository }} | awk '{print tolower($0)}' )
          echo IMG_REPOSITORY_NAME=${IMG_REPOSITORY_NAME} >> $GITHUB_ENV

      - name: Create SBOM file
        shell: bash
        run: |
          SYFT=$(which syft)
          sudo $SYFT \
            -o spdx-json \
            --file $image-sbom.spdx \
            ghcr.io/${{ env.IMG_REPOSITORY_NAME }}/$image@${{ inputs.image-digest }}

      - name: Sign SBOM file
        run: |
          cosign sign-blob --yes \
            --output-certificate $image-sbom.spdx.cert \
            --output-signature $image-sbom.spdx.sig \
            $image-sbom.spdx

      - name: Attach SBOM to container image
        shell: bash
        run: |
          cosign attach \
            sbom --sbom $image-sbom.spdx \
            ghcr.io/${{ env.IMG_REPOSITORY_NAME }}/$image@${{ inputs.image-digest }}

      - name: Sign SBOM file pushed to OCI registry
        shell: bash
        run: |
          set -e
          SBOM_TAG="$(echo ${{ inputs.image-digest }} | sed -e 's/:/-/g').sbom"
          cosign sign --yes \
            ghcr.io/${{ env.IMG_REPOSITORY_NAME }}/$image:${SBOM_TAG}

      - name: Upload SBOMs as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sbom
          path: $image-sbom-*